<div class="ui segment">

<!-- Listagem de twittes-->
<div class="ui yellow message" *ngIf='!tweets'>
  <i class="star icon"></i>
  To make the entire content of an item link, check out the link variation below
</div>

<!-- Listagem de tweets -->
<div class="ui items">
  <div class="item" *ngFor="let tweet of tweets">
    <a class="ui tiny image" >
      <img src="{{tweet.avatar}}">
    </a>
    <div class="content">
      <a class="header">{{tweet.name}}</a>
      <div class="description">
        <p>@{{tweet.user}} - {{tweet.body}}</p>
      </div>
    </div>
  </div>

</div>

</div>